<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>fun.china1.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DengluServlet</servlet-name>
    <servlet-class>fun.china1.servlet.DengluServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DengluServlet</servlet-name>
    <url-pattern>/dengluServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GsMake</servlet-name>
    <servlet-class>fun.china1.servlet.GsMake</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GsMake</servlet-name>
    <url-pattern>/gs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpServlet</servlet-name>
    <servlet-class>fun.china1.servlet.UpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserFindServlet</servlet-name>
    <servlet-class>fun.china1.servlet.UserFindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>fun.china1.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HWSelect</servlet-name>
    <servlet-class>fun.china1.servlet.HWSelect</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HMDelete</servlet-name>
    <servlet-class>fun.china1.servlet.HMDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Daochu</servlet-name>
    <servlet-class>fun.china1.servlet.Daochu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowRz</servlet-name>
    <servlet-class>fun.china1.servlet.ShowRz</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpenOrClose</servlet-name>
    <servlet-class>fun.china1.servlet.OpenOrClose</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetAdmin</servlet-name>
    <servlet-class>fun.china1.servlet.SetAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelcomeRs</servlet-name>
    <servlet-class>fun.china1.servlet.WelcomeRs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelcomeAdmin</servlet-name>
    <servlet-class>fun.china1.servlet.WelcomAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeAdmin</servlet-name>
    <url-pattern>/wad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeRs</servlet-name>
    <url-pattern>/wrs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetAdmin</servlet-name>
    <url-pattern>/user/admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenOrClose</servlet-name>
    <url-pattern>/oc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowRz</servlet-name>
    <url-pattern>/showrz</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Daochu</servlet-name>
    <url-pattern>/daochu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HMDelete</servlet-name>
    <url-pattern>/hmd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HWSelect</servlet-name>
    <url-pattern>/hms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpServlet</servlet-name>
    <url-pattern>/up</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/user/delete</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserFindServlet</servlet-name>
    <url-pattern>/user/find</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>50</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>GetimgServlet</servlet-name>
    <servlet-class>fun.china1.servlet.GetimgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetimgServlet</servlet-name>
    <url-pattern>/getimg</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>welcome.html</welcome-file>
  <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
